/******************************************************************************\
 * Containers                                                                 *
\******************************************************************************/

.ui-row { display: flex; flex-direction: row; }
.ui-column {display: flex;flex-direction: column;align-items: stretch;}

.ui-spacer { display: flex; flex: 1; }

/******************************************************************************\
 * Misc.                                                                      *
\******************************************************************************/

.ui-text { display: inline-block; white-space: pre-wrap; }
