.db-explorer-root { max-width: 900px; }
.db-explorer-card-list { flex-wrap: wrap; }

.db-explorer-query-box { align-items: center; align-self: flex-start; margin-top: 10px; margin-left: 20px; }

.db-explorer-record-symbol { width: 30px; height: 30px; text-align: center;  }

.db-explorer-card { position: relative; z-index: 1; }

.db-explorer-card-list { margin: 20px; }
