:root {
    --active-fg: teal;
}

.editor-explorer-root { flex: 1; align-items: stretch; }

/* Query */

.editor-explorer-query-box { display: flex; flex-direction: row; flex: 0 0 auto; align-items: stretch; padding: 20px; }
.editor-explorer-query-button { font-size: 1.5rem; border-top-left-radius: 0; border-bottom-left-radius: 0; }

.editor-explorer-query { flex: 1 1 auto; display: flex; flex-direction: row; }
.editor-explorer-query-input { display: flex; flex: 1;}
.editor-explorer-query-input > input { flex: 1; }
.editor-explorer-query > .ui-dropdown-list.ui-active { max-height: 160px; }

/* Completions */

.editor-explorer-completion-list { overflow-y: auto; line-height: 1.4; font-family: "Lato"; }
.editor-explorer-tag-tree { flex: 1 0 auto; }
.editor-explorer-tag-tree-node { overflow-y: hidden; }
.editor-explorer-tag-tree-node > .editor-explorer-tag-tree-node { margin-left: 20px; }
.editor-explorer-tag-tree-node.editor-explorer-tag-tree-root > .ui-text:before { content: "#" }
.editor-explorer-tag-tree-node:not(.editor-explorer-tag-tree-leaf) > .ui-text:after { content: "/" }

.editor-explorer-tag-tree.editor-explorer-matching .editor-explorer-tag-tree-node.editor-explorer-unmatched { display: none; }

.editor-explorer-tag-tree-node.editor-explorer-current > .ui-text { border-bottom: 1px solid var(--active-fg); }

/* Results */

.editor-explorer-result-list { align-items: flex-start; flex-wrap: wrap; margin: 0 15px; overflow-y: auto; }
.editor-explorer-result { margin: 0 5px; margin-bottom: 10px; background: white; border-radius: 4px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); }
.editor-explorer-result > .facet-record-button { flex: 1; }
.editor-explorer-result > .facet-record { background: transparent; }
.editor-explorer-result > .facet-record:empty { padding: 0; }

/* Cards */

.editor-explorer-card-list { flex-wrap: wrap; margin-bottom: 20px; min-height: 300px; }
.editor-explorer-card { position: relative; z-index: 1; overflow-y: auto;  }
