@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
    --link-bg:     "#f0f0f0";
    --link-fg:     "#008cdd";
    --link-hover:  "#CEEDFF";
    --link-active: "#B5D4E6";
}

body { background: #f9f9f9; font-family: Lato, sans-serif; }
.cards { flex-wrap: wrap; }

.record-card-card { display: flex; flex: 0 0 auto; flex-direction: column; align-items: stretch; margin: 20px; min-width: 300px; max-width: 300px; }
.record-card-card { background: white; border-radius: 3px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); }

.record-card-card > * { padding: 10px 20px; }
.record-card-card > * + * { border-top: 1px solid #eee; }

/* Header */

.record-card-card > header { display: flex; flex-direction: row; }
.record-card-card h2 { margin: 0; padding: 0; text-align: left; color: rgb(106,138,156) }

/* Tag List */

.record-card-card > .record-card-tag-list { display: flex; flex-direction: row; flex-wrap: wrap; }

.record-card-card .record-card-tag { padding: 0.25em 0.5em; background: var(--link-bg); border-radius: 3px; }
.record-card-card .record-card-tag:before { content: '#'; margin-right: 5px;  color: #666; }
.record-card-card .record-card-tag:hover { background: var(--link-hover); }
.record-card-card .record-card-tag:active { background: var(--link-active); }

/* Attribute List */

.record-card-card > .record-card-attribute-list { padding: 0; display: flex; flex-direction: row; flex-wrap: wrap; }
.record-card-card .record-card-attribute-tile { display: flex; flex: 1 1 auto; align-items: baseline; padding: 10px 20px; padding-bottom: 5px; margin-left: -1px; margin-top: -1px; border: 1px solid #eee; flex-wrap: wrap; }
.record-card-card .record-card-attribute-tile:first-of-type { position: relative; left: -1px; margin-right: -1px; }

.record-card-card .record-card-attribute { color: #aaa; margin-right: 5px; }

.record-card-card .record-card-value { margin-right: 5px; margin-bottom: 5px; }

.record-card-card .record-card-record { }
.record-card-card .record-card-record:before { content: '⬢ '; color: #888; }
.record-card-card .record-card-record:hover { background: var(--link-hover); }
.record-card-card .record-card-record:active { background: var(--link-active); }
